body {
    background-color: rgb(101, 186, 255);
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body nav {
    display:flex;
    justify-content: center;
    padding-top:10px;
    margin-bottom: 100px;
}
.btn{
    min-width:80px;
    padding: 15px 10px;
    border: 1px solid black;
    display:block;
    text-decoration: none;
    background-color: white;
    color:rgb(49, 113, 244);
    &:hover{
        background-color: rgb(49,113,244);
        color:white
    }
}

body>form{
    border: 1px solid black;
    padding: 50px 40px;
    width: 400px;
    margin:auto;
    background-color: white;
    &>div{
        display: flex;
        flex-direction: column;
        gap:5px;
        margin-bottom: 10px;
        label{
            margin-left:10px;
        }
        input{
            height: 25px;
            width: 100%;
        }
    }
    button{
        margin:auto;
        margin-top: 20px;
    }
}

.center{
    text-align: center;
}
.flex{
    display: flex;
    align-items: center;
    gap:9px;
}
.flex-1{
    flex:1;
}
.flex-around{
    display: flex;
    justify-content: space-around;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.flex-end{
    align-items: flex-end;
    gap:5px;
}
.weight-column{
    width:28px;
    background-color: wheat;
    border: 1px solid brown;
}
.relative{
    position: relative;
    /* width:100%; */
    /* box-sizing:content-box; */
    input{
        width:100%;
        box-sizing:padding-box;
    }
}
.chart{
    width: 200px
}
.measure{
    position: absolute;
    right:20px;
    top:8px
}