<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Weight</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1 class="center">Weight</h1>
    <form action="<%=`/users/${user._id}/tracker/weight`%>" method="POST">
      <div>
      <label for="weight">Weight:</label>
      <input type="number" name="weight" id="weight" /></div>
      <button type="submit">Create Weight Record</button>
    </form>
  </body>
</html>
