<link rel="stylesheet" href="/style.css">
<nav class="center">
    <a class='btn' href="/">Home</a>
    <% if(user) { %>
        <a class='btn' href="/users/<%=user._id%>/tracker">Tracker</a>
        <a class='btn' href="/auth/sign-out">Sign Out</a>
    <% } else { %>
        <a class='btn' href="/auth/sign-in">Sign In</a>
        <a class='btn' href="/auth/sign-up">Sign Up</a>
    <% } %>
</nav>
